body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: 353535;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a:hover
{
  color: #fec503;
}

.nav_colour {
	background-color: transparent;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 12pt;
}

.navbar-default .navbar-brand {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 14pt;
}

.background_image {
	background: url(./Untitled-1.gif) no-repeat center center fixed;
	background-size: cover;
   	height: 750px;
   	display: block;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
}

/*purple background */
.background_purple {
	background-color: #d6c6da;
	color: 353535;
}

/* white background */
.background_white {
	background-color: white;
	color: 353535;
}

/* dark purple background */
.background_darkpurple {
	background-color: #655379;
  color: white;
}

section {
  padding: 100px 0;
}

@media (min-width: 768px) {
  header .intro {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro .subheading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
    color:white;
  }
  header .intro .heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
    color:white;
  }
}



/* center text */
.center_text {
	text-align: center;
}

/* no margins */
.no_margin {
	margin: 0px !important;
	border: 0px !important;
}


.social.img {
	opacity: 0.5;
}
.social.img:hover {
	opacity: 1;
}

footer {
  padding: 25px 0;
  text-align: center;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  text-align: center;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}