.make_black {
	background-color: black; 
	color: white;
}

.make_white {
	background-color: white;
	color: white;
}

.make_grey {
	background-color: #2f4a45;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.background_style {
	background: url(typewriter.jpg) no-repeat center center fixed;
	background-size: cover;
   	height: 500px;
   	display: block;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
}

.background_one {
	background-color: #088A85;
	color: white;
}

.background_grey {
	background-color: #2f4a45;
}

#big_name {
	color: white;
}

h1 {
	font-family: 'Georgia', serif;
}
h2 {
	color: white;
	font-family: 'Georgia', serif;
}
h3 {
	font-family: 'Georgia', serif;
}
h4 {
	font-family: 'Georgia', serif;
}

p {
	font-family: 'Georgia', serif;
}

.center_text {
	text-align: center;
}

.no_margin {
	margin: 0px !important;
	border: 0px !important;
}

.header_content {
  position: relative;
  text-align: center;
  padding: 200px 15px 100px;
  width: 100%;
}
