.make_black {
	background-color: black; 
	color: white;
}

.make_white {
	background-color: white;
	color: white;
}

#make_black {
	background-color: black;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-brand {
	color: white;
}

.background_style {
	background: url(http://chrisitnesam.github.io/hmc.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 500px;

}

#big_name {
	color: white;
	font-family: 'Raleway', sans-serif;
}

.center_text {
	text-align: center;
}

.no_margin {
	margin: 0px !important;
	border: 0px !important;
}
